  @font-face {
    font-family: 'TheanoDidot-Regular';
       src: url(https://static1.squarespace.com/static/596001f7bf629a7384f21d69/t/5a52361b419202e32436f231/1515337244406/TheanoDidot-Regular.ttf);
    font-weight: 400;
  }


a[href^="mailto:"]:hover   {
  text-decoration:  none;
  opacity: 0.6; 
 } 

.theano {
   font-family: 'TheanoDidot-Regular' !important;
   font-weight: 400;
  
}

#kt-sqs-1 {
  font-size: 3.0vw; 
  padding-top: 18vh; 
 /* padding-bottom: 30vh;  */
  line-height:10px !important; 
}

blockquote {
  font-family: 'TheanoDidot-Regular' !important;
  color: #383838 !important;
  font-size: 1.5vw !important;
}

blockquote span {
  font-family: 'TheanoDidot-Regular' !important;
   color: #383838 !important;
  font-size: 1.5vw !important;
}


div#page-599074c5db29d643eb09aada {
  margin-left: 10%;
  margin-right: 10%
  
}

div#block-f789a21e80cc735f521a {
  font-family: 'TheanoDidot-Regular' !important;
    padding-top: 22vh;
    padding-left: 20vw;
    padding-right: 20vw;
    font-size: 1.7vw;
  
}

div#block-f789a21e80cc735f521a h2 {
  font-family: 'TheanoDidot-Regular' !important;
  font-size: 1.5vw;
  color: #383838 !important;
}


div.sqs-gallery div.sqs-wrapper img {
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid #ffffff !important;
  /*-webkit-animation: borderfade 2s;
  animation: borderfade 2s;*/
}

div.sqs-gallery div.sqs-wrapper img.border-fade {
  border: 1px solid #eae7e7 !important;
  -webkit-transition: border 2s ease 0.5s;
  transition: border 2s ease 0.5s;
}


/*REMOVE WHEN TESTING BANNER RESET*/
#collection-5a52a4c753450aea1728c820 div.sqs-wrapper img.sqs-active-slide.last-image {
pointer-events: none;
}


/* scroll overflow for mobile */


@media screen and (max-width: 1024px) {
  
div.mobile-bar-wrapper {
  height: 60px;
  padding-top:10px;
}

  
.sqs-gallery-container {
  overflow: hidden;
}
  
.sqs-gallery {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
//  transform: translateZ(0);
// -webkit-transform: translateZ(0);
//  will-change: transform;
  -moz-backface-visibility: hidden; 
  -webkit-backface-visibility: hidden; backface-visibility: hidden;
  padding-bottom: 20px;
  cursor: default;
}
    
div.sqs-wrapper img {
  cursor: default;
  pointer-events: none; 
}  

}

/* ends - scroll overflow for mobile */


@media screen and (max-width: 375px) and (min-width: 0px) {
  #collection-5a52a4c753450aea1728c820 div.sqs-block-content.sqs-intrinsic {
    padding-bottom: 75% !important;
}

  div.sqs-wrapper div {
    bottom: -6px !important;
    font-size: 14px !important;
}

#collection-5a52a4c753450aea1728c820 img.sqs-gallery-design-strip-slide {
  height: 88.5% !important
}


}


@media screen and (max-width: 480px) and (min-width: 376px) {
  #collection-5a52a4c753450aea1728c820 div.sqs-block-content.sqs-intrinsic {
    padding-bottom: 74% !important;
}

  div.sqs-wrapper div {
    bottom: -6px !important;
    font-size: 14px !important;
}

#collection-5a52a4c753450aea1728c820 img.sqs-gallery-design-strip-slide {
  height: 90.0% !important
}


}


@media screen and (max-width: 520px) and (min-width: 481px){
  #collection-5a52a4c753450aea1728c820 div.sqs-block-content.sqs-intrinsic {
    padding-bottom: 73% !important;
}

  div.sqs-wrapper div {
    bottom: -6px !important;
    font-size: 14px !important;
}

#collection-5a52a4c753450aea1728c820 img.sqs-gallery-design-strip-slide {
  height: 90.5% !important
}


}



@media screen and (max-width: 767px) and (min-width: 521px) {
  #collection-5a52a4c753450aea1728c820 div.sqs-block-content.sqs-intrinsic {
    padding-bottom: 73% !important;
}

  div.sqs-wrapper div {
    bottom: -6px !important;
    font-size: 14px !important;
}

#collection-5a52a4c753450aea1728c820 img.sqs-gallery-design-strip-slide {
  height: 92.5% !important
}

}


@media screen and (max-width: 1023px) and (min-width: 768px) {
  #collection-5a52a4c753450aea1728c820 div.sqs-block-content.sqs-intrinsic {
    padding-bottom: 73% !important;
}

  div.sqs-wrapper div {
    bottom: -6px !important;
    font-size: 14px !important;
}

#collection-5a52a4c753450aea1728c820 img.sqs-gallery-design-strip-slide {
  height: 92.5% !important
}

}

/*landscape devices*/
@media screen and (max-width: 1023px) and (orientation: landscape) {
  /*nav bar*/
  div.mobile-bar-wrapper {
    height: 50px;
    padding-top:8px;
    padding-bottom: 2px;
  }

  .mobile-logo-image img {
    max-width: 95%;
  }

  /*footer*/
  #collection-5a52a4c753450aea1728c820 #block-7f03ff4308643ff77c18 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;

  position: relative;
  bottom: 5px;

  left: 0;
  right: 0;
}

  div.sqs-block-gallery {
  padding-bottom: 0px !important; 
}

#footer {
  margin-top: 0px;
  margin-bottom: 0px;
}

#block-yui_3_17_2_2_1517089979273_10098 {
  padding-top: 0px;
  padding-bottom: 0px;
}

div#site {
  padding-top: 100px !important;
}


#collection-5a52a4c753450aea1728c820 img.sqs-gallery-design-strip-slide {
  height: 73vh !important;
}


#collection-5a52a4c753450aea1728c820 div.sqs-block-content.sqs-intrinsic {
  padding-bottom: 49% !important;
}


}


/*@media screen and (max-width: 699px) and (min-width: 520px)*/
@media screen and (max-width: 1367px) and (min-width: 1024px) {

  #collection-5a52a4c753450aea1728c820 div.sqs-gallery-container.sqs-gallery-block-slider.clear.sqs-intrinsic-content {
    /*height: 80%;*/
    height: 79vh;
  }
  
div.sqs-wrapper div { 
    bottom: 10px !important;
    font-size: 15px !important;
  }


#collection-5a52a4c753450aea1728c820 img.sqs-gallery-design-strip-slide {
  height: 90.5% !important;
}


#block-7f03ff4308643ff77c18 {
  position: fixed;
  bottom: 5px;
}

  #collection-5a52a4c753450aea1728c820 div.sqs-block-content.sqs-intrinsic {
    padding-bottom: 0px !important;
}

}



/* all screens above 1367px */
@media screen and (min-width: 1368px) {
  #collection-5a52a4c753450aea1728c820 div.sqs-gallery-container.sqs-gallery-block-slider.clear.sqs-intrinsic-content {
    /*height: 80%;*/
    height: 79vh;
  }

  
  #collection-5a52a4c753450aea1728c820 img.sqs-gallery-design-strip-slide {
  height: 91.5% !important;
}
 img.sqs-gallery-design-strip-slide {
 /*   height: 95% !important; */
  }

  div.sqs-wrapper div {
    bottom: 10px !important;
    font-size: 16px !important;
  }

#block-7f03ff4308643ff77c18 {
  position: fixed;
  bottom: 0px;
}

  #collection-5a52a4c753450aea1728c820 div.sqs-block-content.sqs-intrinsic {
    padding-bottom: 0px !important;
}


}

@media screen and (min-width: 1920px) {
  
  div.sqs-wrapper div {
    bottom: 15px !important;
    font-size: 18px !important;
  }

  #collection-5a52a4c753450aea1728c820 div.sqs-block-content.sqs-intrinsic {
    padding-bottom: 0px !important;
}
#footer .text-align-center {
  font-size: 14px !important;
}
}

/*footer tweaks for all pages */

#block-7f03ff4308643ff77c18 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;

  position: fixed;
  bottom: 5px;

  left: 0;
  right: 0;
}

#footer .text-align-center {
  font-size: 12px;
}

/*

div.sqs-wrapper div {
  opacity: 0;
}

div.sqs-wrapper div.fade {
  opacity: 1;
  -webkit-transition: opacity 2s ease 0.5s;
  transition: opacity 2s ease 0.5s;
}

div.sqs-wrapper div {
  opacity: 0;
}

div.sqs-wrapper div {
  opacity: 1;
  -webkit-transition: opacity 2s ease 0.5s;
  transition: opacity 2s ease 0.5s;
}

div.sqs-code-block {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

div.sqs-block.html-block.sqs-block-html {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  left: 0;
  right: 0;
}

#page {
  height: 80vh;
  margin-bottom: 3vh;
}


#block-7f03ff4308643ff77c18 {
  position: fixed;
  bottom: 5px;
}
*/

/*

#footer {
  margin-bottom: 5vh;
}

div.sqs-block-content.sqs-intrinsic {
  padding-bottom: 42.2% !important; 
}*/
