 @font-face {
     font-family: 'TheanoDidot-Regular';
     src: url(https://static1.squarespace.com/static/596001f7bf629a7384f21d69/t/5a52361b419202e32436f231/1515337244406/TheanoDidot-Regular.ttf);
     font-weight: 400;
}
 a[href^="mailto:"]:hover {
     text-decoration: none;
     opacity: 0.6;
}
 .theano {
     font-family: 'TheanoDidot-Regular' !important;
     font-weight: 400;
}



/* CONTACT PAGE */

#collection-59907e246a49633fe3ff105f p {
    font-family: 'TheanoDidot-Regular' !important;
    font-size: 43px;
    padding-top: 18vh;
    line-height:normal !important;  
}

@media screen and (max-width: 1024px) {
    #collection-59907e246a49633fe3ff105f p {
        font-size: 35px;
    }

}

@media screen and (max-width: 766px) {
    #collection-59907e246a49633fe3ff105f p {
        font-size: 25px;
    }

}


/* CLIENT PAGE */ 

/* page margin */
 div#page-599074c5db29d643eb09aada {
     margin-left: 10%;
     margin-right: 10% 
}

/* blockquote font style */
blockquote {
     font-family: 'TheanoDidot-Regular' !important;
     color: #383838 !important;
}

/* font sizes */
@media screen and (min-width: 1025px) {

    blockquote {
        font-size: 29px !important;
    }

    figcaption {
        font-size: 17px !important;    
    }

    /* list of clients */
    #block-yui_3_17_2_13_1502637926149_18325 {
        font-size: 18px !important;
    }

}

@media screen and (max-width: 1024px) {
    blockquote {
        font-size: 18px !important;
    }

    figcaption {
        font-size: 14px !important;    
    }

    /* list of clients */
    #block-yui_3_17_2_13_1502637926149_18325 {
        font-size: 16px !important;
        line-height: 1.6em;
    }

}

/* vertical position of the body ipad/desktop */
@media screen and (min-width: 640px) {
    #collection-599074c5db29d643eb09aada div.main-content > div.sqs-layout.sqs-grid-12.columns-12 {
        margin-top: 7%;
        margin-bottom: 7%;
    }
}
/* vertical position of the body mobile */
@media screen and (max-width: 640px) {
    div#page-599074c5db29d643eb09aada div.sqs-block.quote-block {
        padding-top:  0 !important;
    }
}


/* CLIENT PAGE footer */
@media screen and (max-width: 1024px) and (min-width: 700px) and (orientation: portrait) {
    /* footer */
    #collection-599074c5db29d643eb09aada #footer,
    #collection-599074c5db29d643eb09aada #block-7f03ff4308643ff77c18 {
        position: fixed !important;
        margin-bottom: 0px;
    } 
}

@media screen and (max-width: 1024px) and (min-width: 700px) and (orientation: landscape) {
    /* footer */
    #collection-599074c5db29d643eb09aada #footer,
    #collection-599074c5db29d643eb09aada #block-7f03ff4308643ff77c18 {
        position: relative !important;
        margin-bottom: 0px;
    } 
}

@media screen and (max-width: 699px) and (min-width: 0px) and (orientation: portrait) {
    /* footer */
    #collection-599074c5db29d643eb09aada #footer,
    #collection-599074c5db29d643eb09aada #block-7f03ff4308643ff77c18 {
        position: relative !important;
        margin-bottom: 0px;
    } 
}

@media screen and (max-width: 699px) and (min-width: 0px) and (orientation: landscape) {
    /* footer */
    #collection-599074c5db29d643eb09aada #footer,
    #collection-599074c5db29d643eb09aada #block-7f03ff4308643ff77c18 {
        position: relative !important;
        margin-bottom: 0px;
    } 
}

/* MAIN NAVIGATION */
#mainNavWrapper {
    padding-right: 1.0vw !important;

}

div.logo-image {
    padding-left: 1vw !important;
    padding-top: 5px !important;
}

/*for mobile menu only */
 @media screen and (max-width: 767px) {
    /*reduce gap between menu and carousel*/
    #page {
        margin-top: 10px;
    }

 }

/*main navigation end*/


/* BIO PAGE */
 div#block-f789a21e80cc735f521a {
     padding-top: 22vh;
     padding-left: 18vw;
     padding-right: 18vw;
     
}
 div#block-f789a21e80cc735f521a h2 {
     font-family: 'TheanoDidot-Regular' !important;
     color: #383838 !important;
}

@media and (min-width: 1025px) {

    div#block-f789a21e80cc735f521a {
     padding-top: 22vh;
     padding-left: 18vw;
     padding-right: 18vw;
     
}

    div#block-f789a21e80cc735f521a h2 {
        font-size: 25px !important;
    }

}

@media and (min-width: 768px) and (max-width: 1024px) {

    div#block-f789a21e80cc735f521a {
     padding-top: 22vh;
     padding-left: 14vw;
     padding-right: 14vw;
     
}
    div#block-f789a21e80cc735f521a h2 {
        font-size: 25px !important;

    }
}

@media (max-width: 767px) {

    div#block-f789a21e80cc735f521a {
     padding-top: 22vh;
     padding-left: 9vw;
     padding-right: 9vw;
     
}
    div#block-f789a21e80cc735f521a h2 {
        font-size: 16px !important;

    }
}



/* ALL WORK PAGES */

/* galllery image spacing*/
 div.sqs-gallery div.sqs-wrapper img {
     margin-left: 5px;
     margin-right: 5px;
     border: 1px solid #ffffff !important;
    /*-webkit-animation: borderfade 2s;
     animation: borderfade 2s;
    */
}

/* gallery image border fade in - used on all galleries */
 div.sqs-gallery div.sqs-wrapper img.border-fade {
     border: 1px solid #eae7e7 !important;
     -webkit-transition: border 2s ease 0.5s;
     transition: border 2s ease 0.5s;
}



/* Prevents images flickering underneath carousel, which is caused by height of img not being 100% */
img.sqs-gallery-design-strip-slide {
     margin-bottom: 7%;
}

/* carousel scroll overflow for mobile */
 @media screen and (max-width: 1024px) {
     div.mobile-bar-wrapper {
         height: 60px;
         padding-top:10px;
    }
     .sqs-gallery-container {
         overflow: hidden;
    }
     .sqs-gallery {
         overflow-x: scroll;
         -webkit-overflow-scrolling: touch;
         // transform: translateZ(0);
         // -webkit-transform: translateZ(0);
         // will-change: transform;
         -moz-backface-visibility: hidden;
         -webkit-backface-visibility: hidden;
         backface-visibility: hidden;
         padding-bottom: 20px;
         cursor: default;
    }
     div.sqs-wrapper img {
         cursor: default;
         pointer-events: none;
    }
}
/* ends - carousel scroll overflow for mobile */


/*footer tweaks for all pages */
 #block-7f03ff4308643ff77c18 {
     padding-top: 0px !important;
     padding-bottom: 0px !important;
     position: fixed;
     bottom: 0px;
     left: 0;
     right: 0;
}
 #footer .text-align-center {
     font-size: 10px;
}

/* WORK PAGE CAROUSELS - BOTH PORTRAIT AND OTHER */

/* all screens above 1367px */
     @media screen and (min-width: 1024px) {
        /* other work page image containers */
         div.sqs-gallery-container.sqs-gallery-block-slider.clear.sqs-intrinsic-content {
             height: 70vh;
        }
         #collection-5a52a4c753450aea1728c820 div.sqs-gallery-container.sqs-gallery-block-slider.clear.sqs-intrinsic-content {
             height: 76vh;
        }
         #collection-5a52a4c753450aea1728c820 img.sqs-gallery-design-strip-slide {
             height: 91.0% !important;
        }
         img.sqs-gallery-design-strip-slide {
             height: 98.5% !important;
             
        }
         div.sqs-wrapper div {
             bottom: 10px !important;
             font-size: 11px !important;
        }
         #block-7f03ff4308643ff77c18 {
             position: fixed;
             bottom: 0px;
        }
         #collection-5a52a4c753450aea1728c820 div.sqs-block-content.sqs-intrinsic {
             padding-bottom: 0px !important;
        }
         #footer .text-align-center {
             font-size: 11px !important;
        }
    }
     @media screen and (min-width: 1920px) {
        /* other work page image containers */
         div.sqs-block-content.sqs-intrinsic {
             padding-bottom: 0px !important;
        }
         div.sqs-wrapper div {
             bottom: 15px !important;
             font-size: 12px !important;
        }
         #collection-5a52a4c753450aea1728c820 div.sqs-block-content.sqs-intrinsic {
             padding-bottom: 0px !important;
        }
         #footer .text-align-center {
             font-size: 12px !important;
        }
    }

 @media screen and (max-width: 375px) and (min-width: 0px) {
    /* other work page image containers */
     div.sqs-block-content.sqs-intrinsic {
         padding-bottom: 67% !important;
    }
    /* portrait page image container */
     #collection-5a52a4c753450aea1728c820 div.sqs-block-content.sqs-intrinsic {
         padding-bottom: 75% !important;
    }
    /* portrait caption div position */
     div.sqs-wrapper div {
         bottom: -6px !important;
         font-size: 10px !important;
    }

    /* NOTE FLickering on load is caused by this not being 100% */
     #collection-5a52a4c753450aea1728c820 img.sqs-gallery-design-strip-slide {
         height: 88.5% !important;
    }
}
 @media screen and (max-width: 480px) and (min-width: 376px) {
    /* other work page image containers */
     div.sqs-block-content.sqs-intrinsic {
         padding-bottom: 66% !important;
    }
     #collection-5a52a4c753450aea1728c820 div.sqs-block-content.sqs-intrinsic {
         padding-bottom: 74% !important;
    }
     div.sqs-wrapper div {
         bottom: -6px !important;
         font-size: 10px !important;
    }
     #collection-5a52a4c753450aea1728c820 img.sqs-gallery-design-strip-slide {
         height: 90.0% !important 
    }
}
 @media screen and (max-width: 520px) and (min-width: 481px){
    /* other work page image containers */
     div.sqs-block-content.sqs-intrinsic {
         padding-bottom: 65% !important;
    }
     #collection-5a52a4c753450aea1728c820 div.sqs-block-content.sqs-intrinsic {
         padding-bottom: 73% !important;
    }
     div.sqs-wrapper div {
         bottom: -6px !important;
         font-size: 10px !important;
    }
     #collection-5a52a4c753450aea1728c820 img.sqs-gallery-design-strip-slide {
         height: 90.5% !important 
    }
}
 @media screen and (max-width: 767px) and (min-width: 521px) {
    /* other work page image containers */
     div.sqs-block-content.sqs-intrinsic {
         padding-bottom: 65% !important;
    }
     #collection-5a52a4c753450aea1728c820 div.sqs-block-content.sqs-intrinsic {
         padding-bottom: 73% !important;
    }
     div.sqs-wrapper div {
         bottom: -6px !important;
         font-size: 10px !important;
    }
     #collection-5a52a4c753450aea1728c820 img.sqs-gallery-design-strip-slide {
         height: 92.5% !important 
    }
}


 @media screen and (max-width: 1023px) and (min-width: 768px) {
    /* other work page image containers */
     div.sqs-block-content.sqs-intrinsic {
         padding-bottom: 65% !important;
    }

    /* image container */
     #collection-5a52a4c753450aea1728c820 div.sqs-block-content.sqs-intrinsic {
         padding-bottom: 73% !important;
    }

    /* captions */
     div.sqs-wrapper div {
         bottom: -6px !important;
         font-size: 10px !important;
    }

    /* images */
     #collection-5a52a4c753450aea1728c820 img.sqs-gallery-design-strip-slide {
         height: 92.5% !important 
    }
}

/*landscape devices*/

 @media screen and (max-width: 1023px) and (orientation: landscape) {
    /*nav bar*/
     div.mobile-bar-wrapper {
         height: 50px;
         padding-top:8px;
         padding-bottom: 2px;
    }
     .mobile-logo-image img {
         max-width: 95%;
    }
    /*footer*/
     #block-7f03ff4308643ff77c18 {
         padding-top: 0px !important;
         padding-bottom: 0px !important;
         position: fixed;
         bottom: 0px;
         left: 0;
         right: 0;
    }


     #footer {
         margin-top: 0px;
         margin-bottom: 0px;
    }
     
     #block-yui_3_17_2_2_1517089979273_10098 {
         padding-top: 0px;
         padding-bottom: 0px;
    }
 
    div#site {
         padding-top: 0px !important;
    }

    /* to adjust height of images and sliders on Work and Portrait pages */
     img.sqs-gallery-design-strip-slide {
         height: 63vh !important;
    }
     #collection-5a52a4c753450aea1728c820 img.sqs-gallery-design-strip-slide {
         height: 63vh !important;
    }
     div.sqs-block-content.sqs-intrinsic {
         padding-bottom: 49% !important;
    }
     #collection-5a52a4c753450aea1728c820 div.sqs-block-content.sqs-intrinsic {
         padding-bottom: 69vh !important;
    }
}

/* relative footer with small heights*/
@media screen and (max-width: 1023px) and (max-height: 400px) and (orientation: landscape) {  
    #block-7f03ff4308643ff77c18 {
         padding-top: 0px !important;
         padding-bottom: 0px !important;
         position: fixed;
         bottom: 0px;
         left: 0;
         right: 0;
    }
}

/*landscape addition - covers end of mobile nav to ipad landscape threshold  */
 @media screen and (max-width: 1023px) and (min-width: 769px) and (orientation: landscape) {
     div#site {
         padding-top: 5px !important;
    }

 }

 /* PORTRAIT PAGES */

/* Prevent click on last slide of portraits */
 #collection-5a52a4c753450aea1728c820 div.sqs-wrapper img.sqs-active-slide.last-image {
     pointer-events: none;
}

/*  reposition CMS footer on Portriat page */
#collection-5a52a4c753450aea1728c820 #page {
    height: 75vh;
}


/* HOME PAGE */

/* >> Desktop Homepage */
/* Disable mobile slider */
@media screen and (min-width: 1024px) {  
    #collection-5ac681c4aa4a99b176337f89 div.sqs-block.gallery-block.sqs-block-gallery:nth-of-type(2) {
        display: none;
    }
}

/* set container height */
    #collection-5ac681c4aa4a99b176337f89 div.sqs-block.gallery-block.sqs-block-gallery:nth-of-type(1) div.sqs-gallery.sqs-gallery-design-stacked {
        height: 69vh !important;
}

/* >> Mobile Homepage */
/* Hide desktop slider */
@media screen and (max-width: 1023px) {  
      /*added from above - remove and reinstate above if it doesnt work*/
    #collection-5ac681c4aa4a99b176337f89 div.sqs-block.gallery-block.sqs-block-gallery:nth-of-type(1) {
        display: none;
}

    /* TBC - being used ? can't find in dom */
    #collection-5ac681c4aa4a99b176337f89 div.sqs-system-gallery.sqs-gallery-list {
        padding-top: 17px;
}

    #collection-5ac681c4aa4a99b176337f89 div.sqs-block.gallery-block.sqs-block-gallery:nth-of-type(2) div.slide.content-fill.sqs-gallery-design-stacked-slide {
        padding-bottom: 0px !important;
}

    #collection-5ac681c4aa4a99b176337f89 div.sqs-block.gallery-block.sqs-block-gallery:nth-of-type(2) div.slide.content-fill.sqs-gallery-design-stacked-slide img {
        width: auto !important;
    
}

    div.sqs-block.gallery-block.sqs-block-gallery:nth-of-type(2) div.clear>div {
        padding-bottom: 0px !important;
}

}

/*homepage navigation gap portrait */
@media screen and (min-width: 768px) {
/* navigation padding on homepage to match work pages on desktop menu (not mobile nav) */
    #collection-5ac681c4aa4a99b176337f89 div.sqs-block.gallery-block.sqs-block-gallery:nth-of-type(2) {
      padding-top: 0px
}
}


/* homepage mobile landscape */

/* image height*/
@media screen and (max-width: 1023px) and (orientation: landscape) {
    #collection-5ac681c4aa4a99b176337f89 div.sqs-block.gallery-block.sqs-block-gallery:nth-of-type(2) div.sqs-gallery.sqs-gallery-design-stacked {
        height: 63vh !important;

}

/* nav padding on landscape homepage */
    #collection-5ac681c4aa4a99b176337f89 div.sqs-block.gallery-block.sqs-block-gallery:nth-of-type(2) {
      padding-top: 0px
}

}


/* OVERVIEW page*/
/*footer - selecting footer block and footer content */
#collection-5a526ba10d9297f9a596a5cb #footer,
#collection-5a526ba10d9297f9a596a5cb #block-7f03ff4308643ff77c18 {
    position: relative !important;
    margin-bottom: 0px;
} 

